<div class="c-form-box">
  <form class="c-form" action="{% if site.author-email %}https://formspree.io/{{sandrogenio@gmail.com}}{% else %}#{% endif %}" method="POST">
    <div class="c-form-bnt__close" data-icon='ei-close' data-size='s'></div>
      <div class="c-form__title">Fale comigo!</div>
    <div class="c-form__group">
      <label for="form-name">Seu Nome (Obrigatório)</label>
      <input class="c-form__input" id="form-name" type="text" name="name" required>
    </div>
    <div class="c-form__group">
      <label for="form-email">Seu E-mail (Obrigatório)</label>
      <input class="c-form__input" id="form-email" type="email" name="_replyto" required>
    </div>
    <div class="c-form__group">
      <label for="form-subject">Assunto</label>
      <input class="c-form__input" id="form-subject" type="text" name="_subject">
    </div>
    <div class="c-form__group">
      <label for="form-text">Sua mensagem (Obrigatório)</label>
      <textarea class="c-form__input" id="form-text" name="text" rows="10" required></textarea>
    </div>
    <div class="c-form__group">
      <button class="c-btn c-btn--secondary c-btn--big c-btn--shadow" type="submit">Enviar</button>
    </div>
  </form>
</div> <!-- /.c-form-box -->
